[submodule "src/faiss"]
	path = src/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "src/tensorflow"]
	path = src/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "src/vcpkg"]
	path = src/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
